:root {
    --color-primario: #B62423;
    --color-blanco: #ffffff;
    --color-texto: #333333;
}

@font-face {
    font-family: 'quicksand medium';
    src: url('./font/quicksand-medium.woff') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'tt chocolate';
    src: url('./font/ttchocolate-demibold') format('woff2');
    font-display: swap;
}


body {
    background-color: var(--color-primario);
    font-family: 'quicksand medium', sans-serif !important;
    height: 100vh;
    margin: 0;
}

.hide {
    display: none !important;
}

.contenedor {
    max-width: 850px;
    margin: auto;
}

/**/

.principal {
    padding: 20px;
    height: 90vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.principal #popis-gato {
    padding: 30px 0 0 0;
    width: 120px;
}

.principal #popis-letras {
    width: 90px;
    margin-top: 40px;
}

.principal h2 {
    color: var(--color-blanco);
    height: 50px;
    font-size: 3rem;
}

.principal .botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    width: 350px;
}

.principal .botones button {
    margin: 20px;
    padding: 20px 25px;
    border-radius: 100px;
    border: 1px solid var(--color-blanco);
    width: 100%;
    transition: all 0.5s ease;
    font-family: 'quicksand medium', sans-serif !important;
    color: var(--color-texto);
    font-size: 1rem;
}

.principal .botones button:hover {
    width: 110%;
    transition: all 0.5s ease;
    cursor: pointer;
}

.principal a {
    color: var(--color-blanco);
    text-decoration: none;
    font-family: 'quicksand medium', sans-serif !important;
}

/* Página menú */
.principal.menu_header {
    justify-content: flex-start;
    height: auto;
    box-sizing: border-box;
    border-bottom: 1px solid var(--color-blanco);
    margin: 0 20px;
}

.principal.menu_header h2 {
    font-size: 2rem;
    font-family: 'tt chocolate', sans-serif;
    height: auto;
}

.menu {
    font-family: 'tt chocolate', sans-serif !important;
    color: var(--color-blanco);
    padding: 20px;
}

.menu .menu_categoria h3 {
    color: var(--color-blanco);
    font-size: 2.5rem;
    line-height: 3.3rem;
    font-weight: 800;
}

.menu .menu_categoria {
    margin: 80px 0 40px 0;
}

.menu .menu_categoria_item {
    margin: 40px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.314);
}

.menu .menu_categoria_item_p p {
    font-size: 1.3rem;
    margin: 0;
    font-weight: 800;
}

.menu .menu_categoria_item_p {
    display: flex;
    justify-content: space-between;
}

.menu .menu_categoria_item_d {
    font-size: 1rem;
    line-height: 1.5rem;
}

.menu .menu_item_descripcion {
    margin-top: 5px;
}

.menu h2 {
    text-align: center;
    font-size: 2rem;
    border-top: 1px solid var(--color-blanco);
    border-bottom: 1px solid var(--color-blanco);
    padding: 70px 0px;
}

.menu .menu_categoria_item_p .menu_item_nombre {
    width: 70%;
    text-align: left;
}

.menu .menu_categoria_item_p .menu_item_precio {
    width: 30%;
    text-align: right;
}

@media (max-width: 567px) {

    .menu .menu_categoria_item_p .menu_item_nombre,
    .menu .menu_categoria_item_p .menu_item_precio {
        font-size: 1.1rem;
    }
}

#direccion .descripcion {
    font-size: .8rem;
}

#direccion hr {
    margin: 30px 0;
}